body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFBF0;
    min-height: 650px;
}

nav {
    background-color: #FFFBF0;
    border-radius: 0 0 20px 20px;
}

.logo {
    width: 291px;
}

.nav-text-highlight li a {
    font-size: 16px;
    font-weight: 500;
    color: #3C3C3C;
}

.row-height {
    min-height: 350px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: #363958;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 48px;
    color: #363958;
}

h3 {
    color: #FABE4C;
    font-size: 36px;
    font-weight: 900;
}

h4 {
    color: #363958;
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #3E3E3E;
}

h1 .heading-highlight {
    color: #FABE4C;
}

.btn-higilight {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.card-style {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: none;
}

.card-footer {
    border: none;
    background: none;
}

.card-header-bg {
    background-color: #F1F1F1;
    border-radius: 20px;
}
.card-header-bg img {
   height: 400px;   
}

.box {
    min-height: 135px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.box img {
    width: 78px;
}

footer {
    background-color: #FFFBF0;
}


/* Small Mobile Phone */
@media (max-width: 575.98px) {
    .logo {
        width: 160px;
        height: 26px;
    }
    
}